openapi: 3.0.1
info:
  title: Card Shuffler
  description: Card Shuffler Description
  version: "0.1"
servers:
- url: https://drupal.message.host
paths:
  /code-challenge/card-grid:
    get:
      description: Auto generated using Swagger Inspector
      parameters:
      - name: columns
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: "3"
      - name: rows
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: "3"
      responses:
        "200":
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
              examples:
                "0":
                  value: '{"meta":{"success":true,"cardCount":4,"uniqueCardCount":4,"uniqueCards":["B","F","M","O"]},"data":{"cards":[["B","O"],["F","M"]]}}'
                "1":
                  value: '{"meta":{"success":false,"message":"rows value is not valid or is missing, must be an integer from 1 to 6"},"data":[]}'
                "2":
                  value: '{"meta":{"success":false,"message":"at least one of rows or columns value must be EVEN, both cannot be ODD"},"data":[]}'
        default:
          description: Auto generated using Swagger Inspector
      servers:
      - url: https://drupal.message.host
    servers:
    - url: https://drupal.message.host
components:
  schemas:
    Schema:
      type: object
      properties:
        id:
          type: integer
          format: int64
    Schema1:
      type: object
      properties:
        id:
          type: integer
          format: int64
    inline_response_200:
      type: object
      properties:
        data:
          type: array
          items:
            type: string
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
    inline_response_200_meta:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
  securitySchemes:
    basic:
      type: http
      scheme: basic
